body {
  color: #555;
  font-size: 18px;
}

a {
  color: #6A9BC5;
  transition: color .2s;
}

a:hover {
  cursor:pointer;
  text-decoration: none;
  color: #007CE6;
}

a:active {
  text-decoration: none;
  color: #05697C;
}

header {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 60px;
}

hr {
  margin-top: 20px;
}

footer a{
  margin-left: 15px;
}
