{%extends 'base/base.html'%}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="/static/build/css/index/index.min.css">
{%endblock%}
{%block content%}
<div class="container text-center">
    <header>
      <h1>ApresentAE!</h1>
    </header>

    <div class="row">
      <div class="col-md-4">
        <a href="/gcm_testing/">GCM Testing</a>
      </div>
      <div class="col-md-8">
        <p>Aplicação e Website que busca ilustrar um exemplo funcional de aplicação Android + Web utilizando GCM</p>
      </div>
    </div>

    <hr>
    <footer>
      <small>
        <a href="https://github.com/cirocosta">Github </a>
        <a href="https://google.com/+ciroscosta">Google +</a>
      </small>
    </footer>


</div>
{%endblock%}